/**
 * @class css.config.colours
 *
 * Here we define the colour variables that are used throughout the stylesheet
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__base/_colours.scss";
 *
 */


/**
 * Basic colours
 *
 */

$color-one: #ffffff;
$color-two: #2d2829;
$color-three: #ff0066;
$color-four: #ff6600;