/**
 * @class css.base.theme
 *
 * These styles define the main theme for the site, this includes colours, fonts, basic layout.
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__base/_theme.scss";
 *
 */

.theme {

	.banner {
		margin: 40px auto;

		width: 1200px;
		height: 400px;

		// width: 400px;
		// height: 400px;

		// height: 1200px;
		// width: 400px;
	}

 	// background-color: $color-one;
 	@include media-query($tablet) {
 		// background-color: $color-two;
 	}
  @include media-query($desktop) {
 		// background-color: $color-three;
 	}
 	@include media-query($wide) {
 		// background-color: $color-four;
 	}
}